.header__lang-link {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 28px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

.header__lang-link:focus {
    text-decoration: underline;
}


@media all and (max-width: 767px) {
    .header__lang-link {
      line-height: 20px;
      font-size: 18px;
   }
  }
