.header__lang-link {
    color: rgba(255, 255, 255, 1);
    text-align: right;
    line-height: 28px;
    margin-top: 46px;
    font-size: 24px;
    font-weight: 400;
    margin-left: auto;
    text-align: right;
    text-decoration-line: underline;
}

.header__lang-link:last-child {
    margin-left: 18px;
    text-decoration: none;
}