.cover__link {
    text-decoration: none;
    z-index: 1;
    position: absolute;
    top: 92px;
    right: 0;
    bottom: 0;
    left: 0;
}

@media all and (max-width: 1023px) {
    .cover__link { 
      top: 90px;
   }
  }

@media all and (max-width: 767px) {
    .cover__link {
      top: 66px;
   }
  }