.place__title {
    outline: 1px solid red;
    color: rgba(255, 255, 255, 1);
    text-align: start;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    width: 460px;
    height: 152px;
    margin-top: 0;
}