.intro__list {
    display: block;
    width: 100%;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.intro__list:first-child {
  margin-top: 33px;
}