.lead {
    margin: 56px auto 0 auto;
    min-height: 1005px;
    max-width: 984px;
    width: 100%;
    grid-area: lead;
    display: inline-block;
    margin: 56px auto 0 auto;
}

@media all and (max-width: 1280px) {
  .lead { 
    min-height: 962px;
    max-width: 928px;
    width: 100%;
    margin: 48px auto 0 auto;
 }
}

@media all and (max-width: 1024px) {
    .lead { 
      min-height: 862px;
      max-width: 768px;
      width: 100%;
      margin: 48px auto 0 auto;
   }
  }

@media all and (max-width: 768px) {
    .lead {
      min-height: 406px;
      max-width: 320px;
      width: 100%;
      margin: 48px auto 0 auto;
   }
  }

  @media all and (max-width: 425px) {
    .lead {
      min-height: 406px;
      max-width: 320px;
      width: 100%;
      margin: 48px auto 0 auto;
   }
  }