.lead {
    margin: 56px 148px 0 148px;
    height: 100vh;
    grid-area: lead;
    display: block;
    outline: 1px solid red;
}


@media all and (max-width: 1024px) {
    .lead { 
      height: 962px;
      margin: 48px 48px 0 48px;
   }
  }

@media all and (max-width: 768px) {
    .lead {
      height: 862px;
      margin: 48px 0 0 0;
   }
  }

  @media all and (max-width: 500px){
    .lead {
      margin: 48px 0 0 0;
   }
  }