.cover__subtitle {
    margin: 32px auto 0 auto;
    max-width: 360px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    position: relative;
}

@media all and (max-width: 767px) {
    .cover__subtitle { 
        margin: 16px auto 0 auto;
        font-size: 14px;
        line-height: 16px;
        max-width: 260px;
        text-align: center;
   }
  }