.lead__title {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 100px;
    font-size: 96px;
    font-weight: 900;
    min-width: 288px;
    max-width: 720px;
    width: 100%;
    max-height: 200px;
    min-height: 88px;
    height: 100%;
    margin: 0 auto;
    
outline: 1px solid red;
}

@media all and (max-width: 1024px) {
    .lead__title { margin: 0 auto;
   }
  }

@media all and (max-width: 768px) {
    .lead__title {
      margin: 0 auto;
      height: 200px;
   }
  }

  @media all and (max-width: 680px){
    .lead__title {
      margin: 0 auto;
      line-height: 74px;
      font-size: 70px;
      font-weight: 900;
   }
  }

  @media all and (max-width: 500px){
    .lead__title {
      margin: 0 auto;
      height: 88px;
      line-height: 45px;
      font-size: 41px;
      font-weight: 900;
   }
  }