.footer__copyright {
    color: rgba(255, 255, 255, 1);
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
}

@media all and (max-width: 768px) {
    .footer__copyright {
    margin-left: 0;
     }
    }