.lead__image {
    background-image: url(../../../images/Group\ 4.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    outline: 1px solid red;
    max-width: 984px;
    max-height: 615px;
    width: 100%;
    margin: 0 auto 0 auto;
    }
}