.lead__image {
    background-image:url(../../../images/lead/Group4.svg),url(../../../images/lead/kalegin-michail-179870-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 100%;
    max-width: 984px;
    width: 100%;
    min-height: 615px;
    margin: 0 auto 0 auto;
    }

    @media all and (max-width: 1280px) {
      .lead__image { 
       max-width: 928px;
       width: 100%;
       min-height: 580px;
     }
    }

    @media all and (max-width: 1024px) {
        .lead__image { 
         max-width: 768px;
         width: 100%;
         min-height: 480px;
       }
      }

    @media all and (max-width: 768px) {
        .lead__image {
           max-width: 320px;
           width: 100%;
           min-height: 200px;
       }
      }

      @media all and (max-width: 425px) {
        .lead__image {
           max-width: 320px;
           width: 100%;
           min-height: 200px;
       }
      }