.lang-links__lang-link {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 28px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

@media all and (max-width: 767px) {
    .lang-links__lang-link {
      line-height: 20px;
      font-size: 18px;
   }
  }
