.intro {
    margin: 0 auto 0 148px;
    padding-top: 92px;
    max-width: 690px;
    width: 100%;
    min-height: 429px;
    text-align: start;
    text-decoration: none;
    outline: 1px solid red;
}

@media all and (max-width: 1024px) {
    .intro { 
      max-width: 690px;
      min-height: 429px;
      margin: 0 auto 0 48px;
   }
  }

@media all and (max-width: 768px) {
    .intro {
      max-width: 720px;
      min-height: 429px;
      padding-top: 88px;
      margin: 0 auto 0 auto;
   }
  }

  @media all and (max-width: 425px){
    .intro {
      max-width: 288px;
      min-height: 754px;
      margin: 0 auto 0 auto;
      padding-top: 64px;
   }
  }