.lead__subtitle {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 36px;
    font-size: 30px;
    font-weight: 400;
    margin: 32px auto 64px auto;
    width: 640px;
    height: 72px;
}