.footer {
    display: flex;
    justify-content: start;
    max-width: 1184px;
    width: 100%;
    padding-top: 92px;
    padding-bottom: 24px;
    margin: 0 auto;
}

@media all and (max-width: 1279px) {
    .footer { 
      max-width: 928px;
   }
  }
  
  @media all and (max-width: 1023px) {
    .footer { 
       max-width: 720px;
     }
    }
  
  @media all and (max-width: 767px) {
    .footer {
        flex-direction: column;
        padding-top: 64px;
        margin: 0 auto 0 16px;
        max-width: 200px;
     }
    }