.place__url-heading {
    outline: 1px solid red;
    color: rgba(170, 170, 170, 1);
    text-align: start;
    line-height: 12px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 20%;
    max-width: 456px;
}

@media all and (max-width: 1024px) {
    .place__url-heading { 
      max-width: 352px;
   }
  }

@media all and (max-width: 768px) {
    .place__url-heading {
      max-width: 288px;
   }
  }

  @media all and (max-width: 425px) {
    .place__url-heading {
      max-width: 288px;
   }
  }