.place__website {
    outline: 1px solid red;
    max-width: 484px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 152px;
}

@media all and (max-width: 1280px) {
  .place__website { 
    max-width: 456px;
 }
}

@media all and (max-width: 1024px) {
    .place__website { 
      max-width: 352px;
   }
  }

@media all and (max-width: 768px) {
    .place__website {
      max-width: 288px;
      margin: auto;
   }
  }

  @media all and (max-width: 425px) {
    .place__website {
      max-width: 288px;
   }
  }