.place__website {
    max-width: 484px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media all and (max-width: 1280px) {
  .place__website { 
    max-width: 456px;
 }
}

@media all and (max-width: 1024px) {
    .place__website { 
      max-width: 352px;
      max-height: 92px;
   }
  }

@media all and (max-width: 768px) {
    .place__website {
      max-width: 288px;
      min-height: 46px;
      margin: 0 auto 0 auto;
      flex-direction: column;
   }
  }

  @media all and (max-width: 425px) {
    .place__website {
      max-width: 288px;
      margin: 0 auto 0 auto;
   }
  }